<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>BBS Write</title>
</head>
<body>
    <form action="writeprocess" method="post">
        <p>ID : <input type="text" name="id"/></p>
        <p>TITLE : <input type="text" name="title"/></p>
        <p>CONTENTS : <input type="text" name="contents"/></p>
        <p><button type="submit">등록</button></p>
    </form>
</body>
</html>