<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>BBS View</title>
</head>
<body>
    <p>ID <%=id%> </p>
    <p>TITLE <%=title%> </p>
    <p>CONTENTS <%=contents%></p>
    <p><a href="/">메인화면</a></p>
</body>
</html>